name: Build Inno Setup Installer

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Compile Inno Setup script
        uses: Minionguyjpro/Inno-Setup-Action@v1.2.7
        with:
          path: 'Setup\\PVZ_Weihua.iss'
          options: '/O+'

      - name: Upload Installer as Artifact
        uses: actions/upload-artifact@v4
        with:
          name: PVZ_Weihua_Installer
          path: Output/*.exe

          git diff-index --quiet HEAD || git commit -m "ci: 自動構建安裝程序"   
          git push

