name: Update ISS Version and Deploy

on:
  workflow_dispatch:
    inputs:
      version_input:
        description: 'Version|版本号'
        required: true
        default: '1.0.0'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    
    env:
      TZ: Asia/Shanghai

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Process ISS Files
        run: |
          # 1. 变量准备
          ORIGINAL_FILE="Setup/PVZ_Weihua.iss"
          NEW_VERSION="${{ github.event.inputs.version_input }}"
          TIME_STAMP=$(date +'%Y%m%d_%H%M')
          
          # 定义路径
          BACKUP_DIR="Backup/iss"
          TEMPLATE_DIR="src/iss"
          
          # 定义文件名
          BACKUP_FILE_NAME="PVZ_Weihua_${NEW_VERSION}_${TIME_STAMP}.iss"
          TEMPLATE_FILE_NAME="PVZ_Weihua.iss"

          # 确保目标目录存在
          mkdir -p "$BACKUP_DIR"
          mkdir -p "$TEMPLATE_DIR"

          # 2. 修改并分别保存到两个位置
          # 备份
          sed -e "s/\(#define MyAppVerNum \)\".*\"/\1\"$NEW_VERSION\"/" \
              -e "s/\(#define MyAppVerFull \)\".*\"/\1\"$NEW_VERSION\"/" \
              "$ORIGINAL_FILE" > "${BACKUP_DIR}/${BACKUP_FILE_NAME}"
          # 预安装配置
          sed -e "s/\(#define MyAppVerNum \)\".*\"/\1\"$NEW_VERSION\"/" \
              -e "s/\(#define MyAppVerFull \)\".*\"/\1\"$NEW_VERSION\"/" \
              "$ORIGINAL_FILE" > "${TEMPLATE_DIR}/${TEMPLATE_FILE_NAME}"

      - name: Commit and Push
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"  
          git add "Backup/iss/" "ConfigurationTemplate/iss/"
          git commit -m "Update ISS: Version ${{ github.event.inputs.version_input }}"
          git push
